/* 框架模板页的样式 */
.banner{width: 100%;}
.content-detail{width: 80%;float:right;margin-top: 30px;padding: 0;border:0;overflow: hidden;}
.content-detail iframe{border: 0}
.content-nav{width: 14%;float:left;margin-top: 30px;}
.content-nav li{color:#fff;font-weight: bolder;max-width: 138px;width: 100%;padding: 10px;background-color: #DE6A0C;margin: 5px 0;text-align: center;transition:all .5s ease;}
.content-nav li:hover{color: #fff;background-color: #E69220;transition:none;}
#currentA{color: #fff;background-color: #E69220;transition:all .5s ease;}