/* 手机浏览器适配样式 */
@media screen and (max-width: 768px) {
    .nav-option{position: absolute;top:79px;z-index: 9999}
    .open{width: 100%;}
    .open li{width: 100%;height: 80px;position:relative;right: 0; border-top: 1px solid #D8D8E5;}
    .open li:nth-child(4){right: 0;border-top: none;}
    #page-operator{display: none}
    #news{padding: 0}
    .nav-option li:nth-child(4){z-index: 9999;transition:all .5s ease;right: 0;top:0;width: 79px;list-style: none;position: fixed;background: #fff}
    .open li:nth-child(1){width:33.3%;float: left;}
    .open li:nth-child(2){width:33.3%;float: left;}
    .open li:nth-child(3){width:33.3%;float: left}

    .block{padding: 0}
    #news{height: 600px;margin-top: 80px;}
    #about{height: 700px;}
    #case{height: 700px;}
    #contact{height: 700px;}
    /*不显示左右箭头*/
    .btn-option{display: none}
    .news-option{overflow-x: scroll;}

    .singleFrame{background:#202020;height:100%;width: 100%;}
    .cases{background-position: center}
    .pice{background-position: center}
}